<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdz.love.bamboos.mapper.TbGoodsTypeMapper">
  <resultMap id="BaseResultMap" type="com.sdz.love.bamboos.entity.TbGoodsType">
    <!--@mbg.generated-->
    <!--@Table tb_goods_type-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="pid" jdbcType="BIGINT" property="pid" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, type_name, create_time, create_by, is_delete, pid
  </sql>
</mapper>