<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdz.love.bamboos.mapper.TbLbMapper">
  <resultMap id="BaseResultMap" type="com.sdz.love.bamboos.entity.TbLb">
    <!--@mbg.generated-->
    <!--@Table tb_lb-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="isDelete" jdbcType="INTEGER" property="isdelete" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="title" jdbcType="VARCHAR" property="title" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, create_by, create_time, image, isDelete, `state`, title
  </sql>
</mapper>