<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdz.love.bamboos.mapper.TbMenuMapper">
  <resultMap id="BaseResultMap" type="com.sdz.love.bamboos.entity.TbMenu">
    <!--@mbg.generated-->
    <!--@Table tb_menu-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="order_num" jdbcType="INTEGER" property="orderNum" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="menu_type" jdbcType="CHAR" property="menuType" />
    <result column="perms" jdbcType="VARCHAR" property="perms" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, menu_name, parent_id, order_num, `path`, menu_type, perms, icon, create_by, create_time, 
    remark
  </sql>
    <select id="selectMenuPermsByUserId" resultType="java.lang.String" parameterType="com.sdz.love.bamboos.entity.TbAdmin">
      select distinct m.perms
      from tb_menu m
      left join tb_role_menu rm on m.id = rm.menu_id
      left join tb_admin_role ur on rm.role_id = ur.role_id
      left join tb_role r on r.id = ur.role_id
      where m.status = '0' and r.status = '0' and ur.admin_id = #{id}
    </select>
</mapper>